<ion-view view-title="Account">
  <ion-content ng-controller="ExampleController">
<div role="navigation">
          <ul class="nav nav-justified">
            <li><a href="#/dashboard">Home</a></li>
            <li><a href="#/timer">Projects</a></li>
            <li><a href="#/endre_passord">Services</a></li>
            <li><a ng-click="logout();">Logout</a></li>
          </ul>
        </div>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/#/dashboard">Home</a>
        </li>
        <li class="active">Dine timer</li>
    </ul>
</div>
<div class="page-content" ng-controller="inappb">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            Endre ditt passord til <br/>NAME: {{name}}
                        </h4>
                        <br/>
                        App passordet ditt endrer du <a href="http://clouda.simplehours.no" target="blank_">http://clouda.simplehours.no</a>
                        <p ng-bind-html="myHTML"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->
</ion-content>
</ion-view>
