<ion-view view-title="Account">
  <ion-content>
    <ion-list>
<div role="navigation">
          <ul class="nav nav-justified">
            <li><a href="#/dashboard">Home</a></li>
            <li><a href="#/timer">Projects</a></li>
            <li><a href="#/endre_passord">Services</a></li>
            <li><a ng-click="logout();">Logout</a></li>
          </ul>
        </div>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/#/dashboard">Home</a>
        </li>
        <li class="active">Dine timer</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                   Dine timer
                </h4>
                        <div class="space-16"></div>
                        Navn: {{name}}
                         <form name='myForm'>

  <input type="text" id="user_id" value="{{uid}}" /> <br />
   Mnd: 
   <select id='mnd'>
    <option value="01">Januar(01)</option>
    <option value="02">Februar(02)</option>
    <option value="03">Mars(03)</option>
    <option value="04">April(04)</option>
    <option value="05">Mai(05)</option>
    <option value="06">Juni(06)</option>
    <option value="07">Juli(07)</option>
    <option value="08">August(08)</option>
    <option value="09">September(09)</option>
    <option value="10">Oktober(10)</option>
    <option value="11">November(11)</option>
    <option value="12">Desmber(12)</option>
    
    
      
   </select>
   <input type='button' onclick='ajaxFunction()' value='Se timer'/>
   
</form>
<div ng-controller="GetUsers">

<table>
<thead><tr><th>Start tid</th><th>Slutt tid</th><th>dato</th></tr></thead>
<tbody>
<tr ng-repeat="user in users"><td>{{user.start_time}}</td><td>{{ user.end_time }}</td><td>{{user.dato}}</td></tr>
</tbody>
</tfoot></tfoot>
</table>

</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->
 </ion-list>
  </ion-content>
</ion-view>
