<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <body ng-controller="timerCtrl">
<div role="navigation">
          <ul class="nav nav-justified">
            <li><a href="#/dashboard">Home</a></li>
            <li><a href="#/timer">Timer</a></li>
            <li><a href="#/endre_passord">Endre passord</a></li>
            <li><a ng-click="logout();">Logg ut</a></li>
          </ul>
        </div>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/#/dashboard">Dashboard</a>
        </li>
        <li class="active">Dine timer</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                   Dine timer
                </h4>
                        <div class="space-16"></div>
                        Navn: {{name}}
                         


                    </div>
                </div>
            </div>
        </div>
    </div>
    <ion-list>
    <div role="navigation">
          <ul class="nav nav-justified">
            <li><a href="#/mnd/01">januar</a></li>
            <li><a href="#/09">09</a></li>
            <li><a href="#/endre_passord">Endre passord</a></li>
            <li><a ng-click="logout();">Logg ut</a></li>
          </ul>
        </div>
  <ion-item>Januar(01)</ion-item>
  	<ion-item href="#/mnd/01"> Januar(01)</ion-item>
    <ion-item href="#/mnd/02.html"> Februar(02)</ion-item>
    <ion-item href="#/mnd/03.html"> Mars(03)</ion-item>
    <ion-item href="#/mnd/04.html"> April(04)</ion-item>
    <ion-item href="#/mnd/05.html"> Mai(05)</ion-item>
    <ion-item href="#/mnd/06.html"> Juni(06)</ion-item>
    <ion-item href="#/mnd/07.html"> Juli(07)</ion-item>
    <ion-item href="#/mnd/08.html"> August(08)</ion-item>
    <ion-item href="#/09">  September(09)</ion-item>
    <ion-item href="#/mnd/10.html">okotber(10)</ion-item>
    <ion-item href="#/mnd/11.html"> November(11)</ion-item>
    <ion-item href="#/mnd/12.html"> Desmber(12)</ion-item>
</ion-list>


</div>
  </body>
<!-- /.page-content -->
 </ion-list>
  </ion-content>
</ion-view>
